
# Byte-compiled / optimized / DLL files
_pycache_/
*.py[cod]
*$py.class

# C extensions
*.so

# Virtual environment
venv/
ENV/
env/
.venv/

# Jupyter Notebook checkpoints
.ipynb_checkpoints/

# Logs
*.log

# OS
.DS_Store
Thumbs.db

# IDEs
.vscode/
.idea/

# Data
data/*.csv
data/*.json
google-credentials.json
