# Archivos de sistema
.DS_Store
Thumbs.db

# Python
_pycache_/
*.pyc
*.pyo
*.pyd
env/
venv/
.venv/

# Logs
logs/
*.log

# Modelos / datos grandes
*.h5
*.pkl
*.joblib
*.pt
outputs/

# Configs locales
*.env
